body{
    margin: 0px;
}
.header{
    width: 100%; 
    background-color: blue;
    padding: 5px;
    height: 20%;
    border: 0px;
}
/* medida de grillas*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
#menu, #logo, #title-main, #menu-down{
display: inline;
}

.right-container{
    float: right;
}
ul,li{
    list-style: none;
    
}
#img-menu{
max-width: 100%;
height: auto;
}
#logoclashR{
    width: 70%;
    height: auto;
}
#section-main{
    background-color: brown;
    width: 100%;
    height: 70%;
}
.footer{
width: 100%;
height: 10%;
}
.container-video{
    top: 0px;
    width: 100%;

}
#video-clashR{
    max-width: 100%;
    height: auto;
}
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }